/*-------------
   General
-------------*/

/*
 * grayish: #e2dac8;
 * burnt red: #902c1e;
 * dark brown: #271314
 */
:root {
	/* colors */
	--true-blue: hsl(210, 96%, 40%);
	--usafa-blue: hsl(210, 96%, 33%);
	--dark-cornflower-blue: hsl(211, 97%, 25%);
	--blue: hsl(212, 100%, 17%);
	--darker-blue: hsl(219, 100%, 14%);
	--darkest-blue: hsl(219, 100%, 10%);
	--independence: hsl(220, 29%, 28%);
	--black-coral: hsl(220, 15%, 43%);
	--roman-silver: hsl(222, 11%, 54%);
	--manatee: hsl(223, 11%, 63%);
	--dark-sienna: hsl(15, 94%, 7%); /* #220901 */
	--blood-red: hsl(10, 85%, 21%); /* #621708 */
	--dark-red: hsl(7, 85%, 31%); /* #941B0C */
	--rust: hsl(16, 92%, 38%); /* #BC3908 */
	--bright-yellow-crayola: hsl(39, 92%, 54%); /* #F6AA1C */
	--sea-shell: hsl(16, 90%, 96%); /* #FEF0EB */
	--misty-rose: hsl(16, 90%, 92%); /* #FDE2D8 */
	--ghost-white: hsl(240, 100%, 99%);

	/* fonts */

	/* buttons */
	--btn-primary-color: var(--sea-shell);
	--btn-primary-bg: var(--usafa-blue);
	/* --btn-secondary-color: 
  --btn-secondary-bg: */

	/* cards */

	/* footer */
	--footer-bg: var(--dark-sienna);
	--footer-color: var(--sea-shell);
}

html {
	height: 100%;
	text-rendering: optimizeLegibility;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
}

body * {
	display: grid;
	grid-template-rows: 1fr auto;
	position: relative;
	line-height: 1.5;
	box-sizing: border-box;
}

.container {
	display: grid;
	width: 100%;
	grid-template-areas: "header" "main" "footer";
	padding: 1rem;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

h1 {
	font-family: 'Merriweather', serif;
}

ul {
	padding: 0;
}

.btn {
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: .9rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	line-height: 1.618em;
	outline: 0;
	padding: .382em 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	transition: all .15s ease;
	vertical-align: middle;
	z-index: 1;
}

.btn a {
	text-decoration: none;
}

.btn--primary {
	background-color: var(--btn-primary-bg);
}

.btn--primary a {
	color: var(--btn-primary-color);
}

.feature {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	max-width: 30rem;
}

.feature::after,
.feature::before {
	clear: both;
	content: "";
	display: table;
}

/* .feature__header .title,
.feature__header .description {
	text-align: center;
} */
.description {
	font-size: .9em;
	line-height: 2;
	margin: 1em 0 2em 0;
	max-width: 31em;
}

.feature__body .card {
	max-width: 100%;
}

.card {
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 40px rgba(14, 30, 37, .16);
	color: var(--darkest-blue);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	font-size: .8rem;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	max-width: 23.224em;
	padding: 1.618em;
	position: relative;
	text-align: left;
	text-shadow: none;
	z-index: 10;
}

.card ul li {
	--listColor: var(--true-blue);
	margin-top: .618em;
	padding-left: 1.618em;
	position: relative;
	text-align: left;
}

.card > * {
	margin-left: 0;
	margin-right: 0;
}

.card ul li::before {
	background-color: var(--listColor);
	border-radius: 50%;
	color: #fff;
	content: "✓";
	display: block;
	font-size: .618em;
	font-weight: 600;
	height: 1.618em;
	left: 0;
	line-height: 1.75;
	position: absolute;
	text-align: center;
	top: .382em;
	width: 1.618em;
}

.footer {
	grid-area: footer;
	display: grid;
	min-height: 8rem;
	background-color: var(--footer-bg);
	color: var(--footer-color);
	align-items: center;
	text-align: center;
	font-weight: 600;
}

@media (min-width: 60rem) {
	.feature {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 1em;
		min-width: 80%;
	}

	.feature .feature__header {
		flex-basis: 60%;
	}

	.title {
		margin-top: 6rem;
	}

	.description {
		margin-bottom: 3rem;
	}

	.feature__body .card {
		margin: 2.618em auto 0 2.618em;
		max-width: 20rem;
	}
}

@media (min-width: 32rem) {
	.feature {
		padding: 0 1.618em;
		margin: auto;
	}
}
